.list-cell:empty {
    -fx-opacity: 0;
}

.greska {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.ime {
	-fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
}

.status {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: gray
}

.background {
	-fx-background-color: #E6E6E6
}

.root {
	-fx-base: #FF0000
}