#pane{
    -fx-background-image: url("starry.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center; 
}

.welcomeContainer{
	-fx-background-color: #E6E9FC;
	-fx-opacity: 0.9;
}

.tekst{
	-fx-font-size: 12px;
	-fx-font-family: Arial;
}

.tekst#a{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

#naslov{
	-fx-font-size: 35px;
	-fx-font-weight: bold;
}